:root {
    --blue: #7FA8A0;
        --red: #C97E63;
        --green: #8E8C6F;
        --white: #F3E8D2;
        --brown: #B6A188;

}
p {
    font-family: "Agrandir";
}

@media (min-width: 900px) {

}